# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
# OpenWeatherMap API Key
# weather_api_key = "d3121dd7e7ec4a2c92a6571d6e798d4b"

# Google API Key
# g_key = "AIzaSyBblZqEBVRzKiRjI6_xV6ZV1kwRNmSdbls"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# *Note - in order for gmaps to work and load the csv, kernel must be conda env:PythonData
# **If PythonData is already active environment when launching Jupyter, just use Python 3 kernel
cities_df = pd.read_csv("cities_info.csv")
cities_df.head()

# # Get rid of unnecessary extra index
# del cities_df['Unnamed: 0']

# # Show all rows of the DataFrame (just my personal preference)
# pd.set_option('display.max_rows', None)

# cities_df

,City,Lat,Long,Max Temp,Humidity,Wind,Cloudiness,Country,Date
0,meulaboh,4.1363,96.1285,78.71,83,1.21,92,ID,1610796299
1,tasiilaq,65.6145,-37.6368,30.20,93,11.50,40,GL,1610796299
2,albany,42.6001,-73.9662,33.01,88,4.36,100,US,1610796004
3,krasnyy tkach,55.4721,39.0802,5.00,78,13.42,90,RU,1610796299
4,ushuaia,-54.8000,-68.3000,53.60,71,8.05,40,AR,1610796082

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:

# Configure gmaps
gmaps.configure(api_key=g_key) 

# Store latitude and longitude in locations, and humidity as humidity
locations = cities_df[["Lat", "Long"]]
humidity = cities_df["Humidity"]

# Plot Heatmap
# center designates lat and lng center of map (had to do this because default settings were showing too much)
fig = gmaps.figure(center = (20,0), zoom_level=2.2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=350,
                                 point_radius=5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Set parameters for ideal climate conditions and see the output
hotel_df = cities_df.loc[(cities_df["Max Temp"]<80) & (cities_df["Max Temp"]>70)
              & (cities_df["Wind"]<10) & (cities_df["Cloudiness"]==0)]
hotel_df

,City,Lat,Long,Max Temp,Humidity,Wind,Cloudiness,Country,Date
40,busselton,-33.6500,115.3333,79.00,36,1.99,0,AU,1610796311
106,abu dhabi,24.4667,54.3667,75.20,41,5.75,0,AE,1610796193
122,marzuq,14.4000,46.4667,78.48,16,8.32,0,YE,1610796335
235,matam,15.6175,-13.3303,78.80,19,6.91,0,SN,1610796371
250,podor,16.6527,-14.9587,75.20,38,6.91,0,MR,1610796375
322,karasburg,-28.0167,18.7500,79.18,20,9.60,0,NaN,1610796399
349,bunbury,-33.3333,115.6333,77.00,31,4.00,0,AU,1610796407
416,majholi,23.5000,79.9167,77.97,18,4.70,0,IN,1610796429
484,shadegan,30.6497,48.6647,71.60,46,4.61,0,IR,1610796449
510,dwarka,22.2394,68.9678,77.23,31,8.99,0,IN,1610796456

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df["Hotel Name"] = ""
hotel_df

/Users/sana/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Lat,Long,Max Temp,Humidity,Wind,Cloudiness,Country,Date,Hotel Name
40,busselton,-33.6500,115.3333,79.00,36,1.99,0,AU,1610796311,
106,abu dhabi,24.4667,54.3667,75.20,41,5.75,0,AE,1610796193,
122,marzuq,14.4000,46.4667,78.48,16,8.32,0,YE,1610796335,
235,matam,15.6175,-13.3303,78.80,19,6.91,0,SN,1610796371,
250,podor,16.6527,-14.9587,75.20,38,6.91,0,MR,1610796375,
322,karasburg,-28.0167,18.7500,79.18,20,9.60,0,NaN,1610796399,
349,bunbury,-33.3333,115.6333,77.00,31,4.00,0,AU,1610796407,
416,majholi,23.5000,79.9167,77.97,18,4.70,0,IN,1610796429,
484,shadegan,30.6497,48.6647,71.60,46,4.61,0,IR,1610796449,
510,dwarka,22.2394,68.9678,77.23,31,8.99,0,IN,1610796456,

In [17]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe, loop through each lat and long to grab the
# necessary info
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    long = row["Long"]

    # add location definition to params dict
    params['location'] = f"{lat},{long}"

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("No Hotels Found")
        
    print("Hotel Found")
hotel_df

/Users/sana/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Hotel Found
Hotel Found
No Hotels Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found
Hotel Found

,City,Lat,Long,Max Temp,Humidity,Wind,Cloudiness,Country,Date,Hotel Name
40,busselton,-33.6500,115.3333,79.00,36,1.99,0,AU,1610796311,Observatory Guest House
106,abu dhabi,24.4667,54.3667,75.20,41,5.75,0,AE,1610796193,Beach Rotana
122,marzuq,14.4000,46.4667,78.48,16,8.32,0,YE,1610796335,
235,matam,15.6175,-13.3303,78.80,19,6.91,0,SN,1610796371,Auberge Beelel Jeeri
250,podor,16.6527,-14.9587,75.20,38,6.91,0,MR,1610796375,La cour du fleuve
322,karasburg,-28.0167,18.7500,79.18,20,9.60,0,NaN,1610796399,Hoon's Selfcatering
349,bunbury,-33.3333,115.6333,77.00,31,4.00,0,AU,1610796407,Bunbury Hotel Koombana Bay
416,majholi,23.5000,79.9167,77.97,18,4.70,0,IN,1610796429,Amit Jain majholi
484,shadegan,30.6497,48.6647,71.60,46,4.61,0,IR,1610796449,مسافر خانه ابو ولید
510,dwarka,22.2394,68.9678,77.23,31,8.99,0,IN,1610796456,Hotel Narayan Avezika Comfort

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [15]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) 

# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))